html {
    background-color: #ffffff;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.chat-col{
    bottom: 1vh;
    z-index: 2;
    position: fixed;
    color: #fff;
    padding: 15px 5px;
}

.chat-col.chat-opened {
    right: 1vh;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
}

#chat-messages{
    height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    margin-bottom: 10vh;
}

#chat-messages::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;
}

#chat-sender {
    bottom: 0;
    right: 0;
    position: absolute;
    border: 0;
}

.chat-box{
    width: 80%;
    height: 10vh !important;
    left: 0;
    bottom: 0;
    position: absolute;
    border: 1px groove white;
    padding: 0;
    font-size: 10px;
    margin: 0;
}

.chat-box,
.chat-box:focus{
    resize: none !important;
    box-shadow: none !important;
}

.chat-row{
    height: 100%;
    overflow-x: scroll;
}

.main{
    margin-top: 55px;
}

.remote-video{
    z-index: 1;
    width: 100%;
    max-width: 30vw;
    height: auto;
    margin: 0;
}

.remote-video-controls{
    position: absolute;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.2);
    z-index: 2;
    padding: 10px;
    width: 100%;
    max-width: 30vw;
    text-align: center;
    visibility: hidden;
}

.remote-video-controls i {
    cursor: pointer;
}

.remote-video:hover + .remote-video-controls,
.remote-video-controls:hover{
    visibility: visible;
}

.local-video{
    top: 54px;
    right: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    position: fixed;
    max-height: 10vh;
    z-index: 4;
}

.mirror-mode{
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.sender-info{
    font-size: smaller;
    margin-top: 5px;
    align-self: flex-end;
}

.msg{
    font-weight: 400;
    font-size: 12px;
    color: black;
    background-color: wheat;
}

.chat-card{
    border-radius: 6px;
}

.btn-no-effect:focus{
    box-shadow: none;
}

.very-small{
    font-size: 6px !important;
}

#close-single-peer-btn {
    position: fixed;
    top: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    border-radius: 0%;
    z-index: 100;
}

.pointer{
    cursor: pointer;
}

.record-option{
    border: 1px solid #ffffff;
    cursor: pointer;
    padding: 5px;
    vertical-align: middle;
}

.custom-modal {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.custom-modal-content {
    text-align: center;
    background-color: #17a2b8;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #17a2b8;
    border-radius: 15px;
    width: 40%;
    color: #ffffff;
}

#chat-sender {
    width: 20%;
    height: 10vh;
}

@media (max-width: 768px) {
    .custom-modal-content {
        width: 80%;
    }

    .main {
        margin: 0;
        margin-top: 45px;
        padding: 0;
    }
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@media only screen and (max-width:767px){
    .chat-opened::-webkit-scrollbar {
        display: none;
    }

    #chat-messages{
        height: 50vh;
        margin-bottom: 12vh;
    }

    .local-video{
        top: 45px;
        right: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        position: fixed;
        max-height: 10vh;
        z-index: 4;
    }
}

.card{
    width: 100%;
    max-width: 30vw;
    z-index: 1;
    margin: 0;
    padding: 0;
}

#new-user-manager {
    position: absolute;
    z-index: 4;
    bottom: 10px;
    right: 10px;
    max-width: 50%;
}

.new-user-join {
    color: white;
    background-color: #333333;
    border: 0px;
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 2px;
}

.hidden {
    display: none;
}

.user-toggler {
    margin: 0 !important;
    padding: 10px !important;
    border: 1px solid white !important;
    border-radius: 15px !important;
}

.user-toggler:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

@media only screen and (max-width:767px){
    .user-toggler {
        padding: 5px !important;
    }

    #board {
        top: 45px !important;
    }
}

#board {
    overflow: hidden;
    position: absolute;
    height: 90vh;
    width: 80vw;
    right: 0;
    top: 55px;
    margin: 0;
    padding: 0;
}

#board-child {
    cursor: crosshair;
    margin: 0;
    padding: 0;
    /* height: 100%;
    width: 100%; */
    background-color: rgb(245, 245, 220);
}

#majorResp {
    display: none;
}

@media screen and (max-width: 550px) {
    #majorResp {
        display: block;
        height: 100vh;
        width: 100vw;
        padding-left: 20vw;
        padding-right: 20vw;
        overflow: hidden;
        text-align: center;
        background-color: #17a2b8;
        color: white;
        user-select: none;
    }
    .resp {
        display: none;
    }
}

.onBoard {
    min-height: 0; max-height: 90vh; min-width: 20vW; max-width: 20vw; overflow-y: auto; overflow-x: hidden;
}

.offBoard {
    min-height: 0; max-height: 90vh; min-width: 92vW; max-width: 92vw; overflow-y: auto; overflow-x: hidden;
}

@media (max-width:1000px) {
    .and-hide {
        display: none;
    }

    .onBoard {
        height: 90vh; min-width: 30vW; max-width: 30vw; overflow-y: auto; overflow-x: hidden;
    }

    #board {
        width: 70vw;
    }
}